#nav {
  height: 38px;
  background: #000;
}

#nav .inner_nav {
  line-height: 38px;
  display: flex;
  height: 38px;
  justify-content: space-between;
}

#nav .inner_nav .nav_l {
  display: flex;
  width: 480px;
  height: 38px;
}

#nav .inner_nav .nav_r {
  height: 38px;
  display: flex;
  width: 480px;
  color: #fff;
  line-height: 38px;
}
#nav .inner_nav .nav_r ul{
  width: 480px;
  display: flex;
  color: #fff;
}
#nav a{
  color: #888;
  font-size: 16px;
  font-weight: 700;
 }
body,html{
  width: 100%;
  height: 100%;
}
.more{
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.l1{
  width: 200px;
  height: 300px;
  margin: 20px;
  background: #f1f1f1;
  border: #fff 1px solid;
  border-radius: 10px;
  box-shadow: #fff 1px 1px 1px;
  overflow: hidden;
}
.l1 .l2 img{
  height: 200px;
  width: 200px;
}

.page{
  position: fixed;;
  bottom: 0;
  background: #f4f4f4;
  left: 50%;
  transform: translateX(-50%);
}
h3{
  width: 200px;
  display: -webkit-box;
           -webkit-box-orient: vertical;
           -webkit-line-clamp: 3;
           overflow: hidden;
          }


p{
  color: #ff4d00;
  font-weight: 800;
}


/* @media only screen and (min-width: 990px) {
  body {
      background-color: lightblue;
  }
} */