html,body{
    width: 100%;
    height: 100%;
}
#header{
    width: 100%;
    height: 48px;
    font-size: 18px;
    background: #f2f2f2;
}
#header a{
    /* display: inline-block; */
    width: 132px;
    height: 48px;
    background:url(../images/login/logo.png) ;
}
#header span{
    height: 20px;
    line-height: 20px;
    border-left: 1px solid #c2c2c2;
    padding-left: 16px;
    font-weight: bold;
}
.inner_header{
    display: flex;
    align-items: center;
}
h2{
    height: 222px;
    font-size: 32px;
    text-align: center;
    line-height: 222px;
}
.all{
    display: flex;
}
.tip{
    font-size: 12px;
    color: #a383a3;
    margin-top: 56px;
    margin-left: 198px;
}
.erweima{
    width: 200px;
    height: 200px;
    font-size: 20px;
    background: #f7f7f7;
    margin-left: 264px;
}
.left{
    width: 608px;
    height: 300px;
    border-right: 1px solid #e5e5e5;
   
}
input{
    width: 358px;
    height: 48px;
    background: #f2f2f2;
    display: block;
    border: none;
    border-radius: 10px;
    margin-bottom: 28px;
    margin-left: 64px;
    padding: 16px;
    box-sizing: border-box;
}
.right{
    position: relative;
}
.icon-closeeye{
    opacity: 0.5;
    position: absolute;
    left: 398px;
    top: 92px;
}
.get{
    position: absolute;
    left:70px ;
    top: 140px;
   
}
.login_bot{
    background: #eba7aa;
    text-align: center;
    margin-top: 78px;
    color: #fff;
}
.right p{
    margin-left: 134px;;
}
.right p span{
    margin: 0 8px;
    color: #f2f2f2;
}
.right .p2{
    margin-left: 94px;
    display: flex;
    margin-top: 20px;
    align-content:space-around;
    width: 358px;
    font-size: 16px;
    
}
.right .p2 i{
    margin: 0 40px;
    font-size: 20px;
}