html,body{
    width: 100%;
    height: 100%;
}
#header{
    width: 100%;
    height: 48px;
    font-size: 18px;
    background: #f2f2f2;
}
#header a{
    /* display: inline-block; */
    width: 132px;
    height: 48px;
    background:url(../images/login/logo.png) ;
}
#header span{
    height: 20px;
    line-height: 20px;
    border-left: 1px solid #c2c2c2;
    padding-left: 16px;
    font-weight: bold;
}
.inner_header{
    display: flex;
    align-items: center;
}
.detail_email{
    display: none;
    text-align: center;
}
.detail_mob{
    display: block;
    text-align: center;

}
input{
    background: #f4f4f4;
    width:360px ;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
}
.inner_main{
    display: flex;
}


.way{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-around
    
}
.way>span{
    height: 20px;
    line-height: 20px;
    text-align: center;
}

#main{
    margin-top: 25px;
}
h2{
    font-size: 35px;
    text-align: center;
}
main> span{
    text-align: center;
  
}   
#local{
    width: 50px;
    height: 40px;
    border-radius: 5px;
    border:none;
    background: #f4f4f4;
}
.local{
    background: #f4f4f4;
    width:360px ;
    height: 40px;
    border-radius: 5px;
    /* box-sizing: border-box; */
    padding: 0 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}  

#country{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border:none;
    background: #f4f4f4;

}
button{
    width: 250px;
    height: 40px;
    background: rgba(0, 0, 255, 0.397);
    border: none;
    border-radius: 5px;
}